$main-typography: 'Montserrat', sans-serif;

$color-white: #fdfffc; // Baby Powder
$color-peach: #fff3b0; // Peach
$color-sparkle: #335c67; // Deep Space Sparkle
$color-black: #0d1f2d; // Dark Gunmetal
$color-red: #bf211e; // Firebrick
