.articles {
  & h3 {
    margin-bottom: 0.8rem;
  }

  & a {
    text-decoration: none;
    color: $color-black;
    background: $color-peach;
    padding: 0 1rem;
  }

  &__data {
    font-family: $main-typography;
    font-size: 1rem;
    margin-bottom: 2.5rem;
    padding: 0 1rem;
  }

  &__body {
    margin-bottom: 3rem;
  }
}
