.bio {
  display: flex;
  margin-bottom: 4rem;

  & p {
    font-family: $header-typography;

    & span {
      font-weight: 700;
      color: $color-1;
    }
  }

  &__img {
    margin-bottom: 0;
    min-width: 5rem;
    border-radius: 100%;
    margin-right: 0.8rem;
  }
}
